@font-face {
    font-family: outfit;
    src: url('Fonts/Outfit-Regular.otf');
}


*{
    margin: 0;
    padding: 0;
}



::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(53, 50, 50);
    background: rgb(218, 213, 213);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(99, 98, 98);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

a {
    text-decoration: none;
}


#footer {
    background-color: #FFFCEF !important;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: outfit !important;
    overflow-x: hidden;
    /* position: relative; */
    /* scroll-behavio: smooth; */
}

/* 
#to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(114, 110, 110);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
} */

.navbar {
    background: transparent !important;
}

/* 
#cartNum{
    background-color: red;
    padding: 4px;
    font-size: small;
    border-radius: 50%;
} */

.sectionOne {
    min-height: 100vh;
    width: 100%;
    background-image: url(Assets/Slider_2.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: .1s ease;
    animation: changbg 15s ease 2s infinite;
}

@keyframes changbg {
    0% {
        background-image: url(Assets/Slider_2.webp);
    }

    30% {
        background-image: url(Assets/Slider_1.webp);
    }

    60% {
        background-image: url(Assets/Slider_3.webp);
    }

    90% {
        background-image: url(Assets/Slider_2.webp);
    }
}

.carousel {
    height: calc(100vh - 20vh) !important;
}


.Slideshow {
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 2vw;
    justify-content: space-between;
    align-items: center;
}

.partOne {
    width: 40vw;
}


.cartt:hover {
    color: white !important;
    transition: 0.3s ease-in-out;


}

.playerr {
    font-size: 30px;
}


/* collection */

.section2 {
    width: 100%;
    /* height:50vh; */
    display: grid;
    place-items: center;
    position: relative;
}

.collection {
    width: 95%;
    padding: 1.4rem 0;
    /* background-color: beige; */
}

.collection-content {
    /* width: 100%; */
    height: 100%;
    /* background-color: aqua; */

}

/* .categoty-child-card:hover{
    curs
} */

.collection-card {
    width: 13%;
    height: 100%;
    text-align: center;
    margin: 1rem 0 rem;
    /* position: absolute; */
    cursor: pointer;
}

.collection-card img {
    width: 100%;
    border-radius: 1em;
    transition: .3s ease;
    margin-bottom: .5em;
}

.categoty-child-card {
    border-radius: 20px !important;
    overflow: hidden;
}

.categoty-child-card img {
    transition: 0.3s ease-in-out;
}

.categoty-child-card img:hover {
    cursor: pointer;
    margin-bottom: 3vh;
    transform: scale(1.2);


}

.collection-wrapper {
    width: 100%;
    height: 100%;
}

/* .section3{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;
    position: relative;
} */


.section3 {
    min-height: 100vh;
    margin-top: 10px;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10vh;

}

.sugarFree {
    width: 400px;
}

.sugarFree_Img {
    height: 80vh;
    width: 400px;
    background-image: linear-gradient(to bottom, rgba(252, 197, 46, 0.438), rgba(89, 109, 3, 0.73)),
        url('Assets/fruits.webp');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}


.proCard {
    height: 125px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    border-radius: 20px;
    padding: 20px;
    margin-top: 2vh;
}

.proImg img {
    height: 8vw;
}

.icon {
    color: #ffffff;
    font-size: 50px;
}

.addProduct_Icon {
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-color: #97e08f;
    display: grid;
    place-items: center;
    border-radius: 50%;
    text-decoration: none;

}






/* Custom Juice Page CSS */

.Custom-Juice {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2%;
    color: black !important;
}

.Custom-Juice>h1 {
    color: black;
    font-weight: 600;
}

.CJsection1 {
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: #FFFCEF;
}


#accordCJ {
    background-color: transparent !important;
}




#productbutton {
    width: 15% !important;
    gap: 1% !important;
}



/* sidebar */

#sidebar {
    height: 100vh;
    width: 400px;
    background-color: rgb(119, 131, 115);
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    transition: 1s ease;
    z-index: 1000;
}

#close-sidebar {
    position: absolute;
    top: 1%;
    cursor: pointer;
    right: 2%;
}

#close-sidebar:hover {
    color: white;
}

.sidebarbtn {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0px;
    justify-content: flex-start;
    align-items: flex-end;
}

.sidebarbtn button {
    height: 3rem;
    border: 0;
    outline: 0;
    width: 50%;
}

.sidebarbtn button:nth-child(2) {
    background-color: yellow;
}


/* sidebar */


.section4 {
    width: 100%;
    height: 80vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(bottom, #1d8b65, #87e5a9, rgb(217, 238, 178));
    background: linear-gradient(bottom, #1d976c, #93f9b9, rgb(217, 238, 178));
}

.section45{
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.877),rgba(255,255,255,0.3)), url("Assets/index3.webp");
}

.sec45content{
    width: 50%;
    position: absolute;
    bottom: 30%;
    left: 4%;
}
